<h3> Dados do projeto <h3>


Título: <%= @project.title%>
<br>
Descrição: <%= @project.description %>
<br>
Remuneração máxima por hora: <%= number_to_currency(@project.value_hour)%>
<br>
Colaboradore(s) requerido(s): <%= @project.squad_num%>
<br>
Data limite para candidaturas: <%= l @project.limit_proposal%>
<br>
Previsão de início: <%= l @project.start_date%>
<br>
Previsão de fim: <%= l @project.end_date%>
<br>
Especialidade desejada: <%= Area.find(@project.area_id).name %>
<br>
Remoto: <%= @project.remote ?  'Sim' : 'Não' %>
<br>
Endereço: <%= @project.adress%>
 - <%= @project.city %>
 <br>


<% if employer_signed_in?%>
      
    
<% elsif freelancer_signed_in?%>
    <% emails=[]%>     
    <% @project.proposal.each do |p| %> 
        <% emails<<p.freelancer.email %>    
    <% end %> 
    


    <% if (emails.include?(current_freelancer.email))%> 
        Você já enviou uma proposta para esse projeto

     <% elsif (@project.status=='open')%> 

        <%=form_with model: @proposal,url: project_proposals_path(@project.id) do |f| %> 
        <%= f.label :message, 'Mensagem' %>
        <%= f.text_field :message %> 
        <br>
        <%= f.label :week_availability, 'Horas disponíveis por semana' %>
        <%= f.number_field :week_availability %> 
        <br>
        <%= f.label :expected_end, 'Entrega prevista' %>
        <%= f.date_field :expected_end %> 
        </div>
        <%= f.label :claim_hour, 'Pretensão salarial por hora' %>
        <%= f.number_field :claim_hour %>        
        <br>    
        <%= f.submit 'Enviar proposta' %>  
        <% end %> 
    <% elsif %>
        Esse projeto não esta mais disponível    

    <% end %>

<% end %>




<%= link_to "Voltar", root_path%>
