<% if @proposal.errors.any? %>
  <ul>
  <% @proposal.errors.full_messages.each do |e|%>
   <li><%= e %>
   <%end%>
  </ul>
<%end%>

<h3>Dados da proposta: </h3>
Projeto:  <%= @proposal.project.title %>
<br>
Mensagem: <%= @proposal.message %>
  <br>
Previsão de término: <%= l @proposal.expected_end %>
  <br>
Horas disponíveis por semana: <%= @proposal.week_availability %>
<br>
Valor pedido por hora: <%= number_to_currency @proposal.claim_hour %>
<br>
Situação: <%= Proposal.human_enum_name(:status, @proposal.status)%>
<br>


  <% if @proposal.status == 'rejected' %>
     Proposta recusada
     Justificativa: <%= @proposal.refused_justify %> 
  <%end%>

  <% if (@proposal.status == 'pending') && freelancer_signed_in?%>
  <%= link_to 'Excluir proposta', proposal_path(@proposal.id) , method: :delete, 
  data: {confirm: "Tem certeza que quer excluir?"} %> <br>
  <%= link_to 'Editar proposta', edit_proposal_path(@proposal.id) %> 
  <% elsif  (@proposal.status == 'accepted') && freelancer_signed_in? %>
  <%= link_to 'Ver equipe',  freelancer_team_projects_path(@proposal.id) %> 
  
  <%end%>
<br>
<br>
<h3>Reveja os dados do projeto:</h3>
Descrição: <%= @proposal.project.description %>
<br>
Remuneração máxima por hora: <%= number_to_currency(@proposal.project.value_hour)%>
<br>
Colaboradore(s) requerido(s): <%= @proposal.project.squad_num%>
<br>
Data limite para candidaturas: <%= l @proposal.project.limit_proposal%>
<br>
Previsão de início: <%= l @proposal.project.start_date%>
<br>
Previsão de fim: <%= l @proposal.project.end_date%>
<br>
Especialidade desejada: <%= Area.find(@proposal.project.area_id).name %>
<br>
Remoto: <%= @proposal.project.remote ?  'Sim' : 'Não' %>
<br>
Endereço: <%= @proposal.project.adress%>
 - <%= @proposal.project.city %>
 <br>
 <br>

<%= link_to "Voltar", root_path%>

 