<!DOCTYPE html>
<html>
  <head>
    <title>Easylancer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <% if employer_signed_in? %>      
    <a class="nav-link active"> <%= current_employer.email %></a>
    <a class="nav-link active"> <%= link_to 'Logout', destroy_employer_session_path, method: :delete %></a>        
          
  <% elsif freelancer_signed_in? %>        
          
        
  <% else %>     
          <span class="navbar-text mx-3"> Faça seu login para pedir ou oferecer um freelance!</span>  
          <a class="nav-link mx-3"><%= link_to 'Entrar como contratador', new_employer_session_path %></a>
          <a class="nav-link mx-3"><%= link_to 'Entrar como freelancer', new_freelancer_session_path %></a>

      <% end %>     
  </nav>

  <body>
    <p><%= notice %></p>
    <p><%= alert %></p>
    <%= yield %>
  </body>
</html>
